USE [master]
GO
USE [master]
GO
DROP DATABASE IF EXISTS [cs6232-g2]
GO
/****** Object:  Database [cs6232-g2]    Script Date: 4/16/2021 12:59:06 PM ******/
CREATE DATABASE [cs6232-g2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clinic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Clinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clinic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Clinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cs6232-g2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cs6232-g2]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[personId] [int] NOT NULL,
	[administratorId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[administratorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[appointmentId] [int] IDENTITY(1,1) NOT NULL,
	[patientId] [int] NOT NULL,
	[startDateTime] [datetime] NOT NULL,
	[endDateTime] [datetime] NOT NULL,
	[doctorId] [int] NOT NULL,
	[reasonForVisit] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[appointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConductedLabTest]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConductedLabTest](
	[appointmentId] [int] NOT NULL,
	[testCode] [int] NOT NULL,
	[datePerformed] [datetime] NOT NULL,
	[results] [varchar](250) NOT NULL,
	[isNormal] [bit] NOT NULL,
 CONSTRAINT [PK_ConductedLabTest] PRIMARY KEY CLUSTERED 
(
	[appointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credential]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credential](
	[personId] [int] NOT NULL,
	[role] [varchar](25) NOT NULL,
	[userName] [varchar](25) NOT NULL,
	[passwordHash] [varchar](75) NOT NULL,
 CONSTRAINT [PK_Credential] PRIMARY KEY CLUSTERED 
(
	[personId] ASC,
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnosis]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnosis](
	[appointmentId] [int] NOT NULL,
	[diagnosisName] [varchar](50) NOT NULL,
	[isFinal] [bit] NULL,
 CONSTRAINT [PK_Diagnosis] PRIMARY KEY CLUSTERED 
(
	[appointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[personId] [int] NOT NULL,
	[doctorId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[doctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSpecialty]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSpecialty](
	[doctorId] [int] NOT NULL,
	[specialtyName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DoctorSpecialty] PRIMARY KEY CLUSTERED 
(
	[doctorId] ASC,
	[specialtyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabTest]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTest](
	[testCode] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LabTest] PRIMARY KEY CLUSTERED 
(
	[testCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse](
	[personId] [int] NOT NULL,
	[nurseId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Nurse] PRIMARY KEY CLUSTERED 
(
	[nurseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[personId] [int] NOT NULL,
	[patientId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[patientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[personId] [int] IDENTITY(1,1) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
	[ssn] [varchar](11) NOT NULL,
	[gender] [varchar](10) NULL,
	[phoneNumber] [varchar](20) NULL,
	[addressLine1] [varchar](100) NOT NULL,
	[addressLine2] [varchar](100) NULL,
	[city] [varchar](50) NOT NULL,
	[state] [varchar](2) NOT NULL,
	[zipCode] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[personId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleName] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialty]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialty](
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Specialty] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visit]    Script Date: 4/16/2021 12:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visit](
	[appointmentId] [int] NOT NULL,
	[nurseId] [int] NULL,
	[weight] [decimal](4, 1) NULL,
	[pulse] [int] NULL,
	[systolicBloodPressure] [int] NULL,
	[diastolicBloodPressure] [int] NULL,
	[bodyTemperature] [decimal](4, 1) NULL,
	[symptoms] [varchar](500) NULL,
 CONSTRAINT [PK_Visit] PRIMARY KEY CLUSTERED 
(
	[appointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([personId], [administratorId]) VALUES (7, 1)
SET IDENTITY_INSERT [dbo].[Administrator] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([appointmentId], [patientId], [startDateTime], [endDateTime], [doctorId], [reasonForVisit]) VALUES (1, 4, CAST(N'2021-04-15T09:30:00.000' AS DateTime), CAST(N'2021-04-15T08:30:00.000' AS DateTime), 2, N'broken leg and neck and back')
INSERT [dbo].[Appointment] ([appointmentId], [patientId], [startDateTime], [endDateTime], [doctorId], [reasonForVisit]) VALUES (2, 1, CAST(N'2021-04-02T08:00:00.000' AS DateTime), CAST(N'2021-04-02T09:00:00.000' AS DateTime), 1, N'dislocated shoulder')
INSERT [dbo].[Appointment] ([appointmentId], [patientId], [startDateTime], [endDateTime], [doctorId], [reasonForVisit]) VALUES (3, 2, CAST(N'2021-04-02T11:30:00.000' AS DateTime), CAST(N'2021-04-02T12:00:00.000' AS DateTime), 2, N'soar throat')
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
INSERT [dbo].[ConductedLabTest] ([appointmentId], [testCode], [datePerformed], [results], [isNormal]) VALUES (1, 1, CAST(N'2021-04-15T00:00:00.000' AS DateTime), N'compund fracture of the femur', 0)
GO
INSERT [dbo].[Credential] ([personId], [role], [userName], [passwordHash]) VALUES (5, N'Nurse', N'nurse2', N'60303AE22B998861BCE3B28F33EEC1BE758A213C86C93C076DBE9F558C11C752')
INSERT [dbo].[Credential] ([personId], [role], [userName], [passwordHash]) VALUES (6, N'Nurse', N'nurse1', N'1B4F0E9851971998E732078544C96B36C3D01CEDF7CAA332359D6F1D83567014')
INSERT [dbo].[Credential] ([personId], [role], [userName], [passwordHash]) VALUES (7, N'Admin', N'admin', N'590C9F8430C7435807DF8BA9A476E3F1295D46EF210F6EFAE2043A4C085A569E')
GO
INSERT [dbo].[Diagnosis] ([appointmentId], [diagnosisName], [isFinal]) VALUES (1, N'Compund fracture of the femur', 1)
INSERT [dbo].[Diagnosis] ([appointmentId], [diagnosisName], [isFinal]) VALUES (2, N'Compund fracture of the ulna', 0)
GO
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([personId], [doctorId]) VALUES (2, 2)
INSERT [dbo].[Doctor] ([personId], [doctorId]) VALUES (4, 1)
SET IDENTITY_INSERT [dbo].[Doctor] OFF
GO
INSERT [dbo].[DoctorSpecialty] ([doctorId], [specialtyName]) VALUES (1, N'Pediatrics')
INSERT [dbo].[DoctorSpecialty] ([doctorId], [specialtyName]) VALUES (2, N'Orthopedics')
GO
INSERT [dbo].[LabTest] ([testCode], [name]) VALUES (1, N'X-ray')
INSERT [dbo].[LabTest] ([testCode], [name]) VALUES (2, N'MRI')
INSERT [dbo].[LabTest] ([testCode], [name]) VALUES (3, N'Strep Test')
GO
SET IDENTITY_INSERT [dbo].[Nurse] ON 

INSERT [dbo].[Nurse] ([personId], [nurseId]) VALUES (5, 2)
INSERT [dbo].[Nurse] ([personId], [nurseId]) VALUES (6, 1)
INSERT [dbo].[Nurse] ([personId], [nurseId]) VALUES (13, 3)
SET IDENTITY_INSERT [dbo].[Nurse] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([personId], [patientId]) VALUES (1, 1)
INSERT [dbo].[Patient] ([personId], [patientId]) VALUES (8, 2)
INSERT [dbo].[Patient] ([personId], [patientId]) VALUES (10, 3)
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([personId], [lastName], [firstName], [dateOfBirth], [ssn], [gender], [phoneNumber], [addressLine1], [addressLine2], [city], [state], [zipCode]) VALUES (1, N'Smith', N'John', CAST(N'1980-07-25' AS Date), N'444-55-7777', N'M', N'(555) 555-5555', N'15. E. Main St.', N'', N'Smithfield', N'NC', N'27577')
INSERT [dbo].[Person] ([personId], [lastName], [firstName], [dateOfBirth], [ssn], [gender], [phoneNumber], [addressLine1], [addressLine2], [city], [state], [zipCode]) VALUES (2, N'Fudd', N'Elmer', CAST(N'1937-12-03' AS Date), N'111-22-3333', N'M', N'(555) 222-5555', N'2343 East Wabbit Ln.', N'Apt. 3C', N'Morgantown', N'WV', N'26508')
INSERT [dbo].[Person] ([personId], [lastName], [firstName], [dateOfBirth], [ssn], [gender], [phoneNumber], [addressLine1], [addressLine2], [city], [state], [zipCode]) VALUES (4, N'Bunny', N'Bugs', CAST(N'1938-04-30' AS Date), N'999-00-2222', N'M', N'(555) 333-5555', N'5567 Whatsupdoc Ave.', N'', N'Albuquerque', N'NM', N'87101')
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
INSERT [dbo].[Role] ([roleName]) VALUES (N'Admin')
INSERT [dbo].[Role] ([roleName]) VALUES (N'Nurse')
GO
INSERT [dbo].[Specialty] ([name]) VALUES (N'Orthopedics')
INSERT [dbo].[Specialty] ([name]) VALUES (N'Pediatrics')
GO
INSERT [dbo].[Visit] ([appointmentId], [nurseId], [weight], [pulse], [systolicBloodPressure], [diastolicBloodPressure], [bodyTemperature], [symptoms]) VALUES (1, 1, CAST(185.5 AS Decimal(4, 1)), 76, 121, 80, CAST(98.7 AS Decimal(4, 1)), N'leg pain with femur apparently protruding through the epidermis')
INSERT [dbo].[Visit] ([appointmentId], [nurseId], [weight], [pulse], [systolicBloodPressure], [diastolicBloodPressure], [bodyTemperature], [symptoms]) VALUES (2, 2, CAST(205.0 AS Decimal(4, 1)), 98, 130, 90, CAST(98.6 AS Decimal(4, 1)), N'arm pain with missing bone')
INSERT [dbo].[Visit] ([appointmentId], [nurseId], [weight], [pulse], [systolicBloodPressure], [diastolicBloodPressure], [bodyTemperature], [symptoms]) VALUES (3, 1, CAST(125.0 AS Decimal(4, 1)), 76, 150, 140, CAST(98.8 AS Decimal(4, 1)), N'ear ache')
GO
/****** Object:  Index [UK_Administrator]    Script Date: 4/16/2021 12:59:06 PM ******/
ALTER TABLE [dbo].[Administrator] ADD  CONSTRAINT [UK_Administrator] UNIQUE NONCLUSTERED 
(
	[personId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Appointment]    Script Date: 4/16/2021 12:59:06 PM ******/
ALTER TABLE [dbo].[Appointment] ADD  CONSTRAINT [UK_Appointment] UNIQUE NONCLUSTERED 
(
	[patientId] ASC,
	[startDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_ConductedLabTest]    Script Date: 4/16/2021 12:59:06 PM ******/
ALTER TABLE [dbo].[ConductedLabTest] ADD  CONSTRAINT [UK_ConductedLabTest] UNIQUE NONCLUSTERED 
(
	[appointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Diagnosis]    Script Date: 4/16/2021 12:59:06 PM ******/
ALTER TABLE [dbo].[Diagnosis] ADD  CONSTRAINT [UK_Diagnosis] UNIQUE NONCLUSTERED 
(
	[appointmentId] ASC,
	[diagnosisName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Doctor]    Script Date: 4/16/2021 12:59:06 PM ******/
ALTER TABLE [dbo].[Doctor] ADD  CONSTRAINT [UK_Doctor] UNIQUE NONCLUSTERED 
(
	[personId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Nurse]    Script Date: 4/16/2021 12:59:06 PM ******/
ALTER TABLE [dbo].[Nurse] ADD  CONSTRAINT [UK_Nurse] UNIQUE NONCLUSTERED 
(
	[personId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Patient]    Script Date: 4/16/2021 12:59:06 PM ******/
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [UK_Patient] UNIQUE NONCLUSTERED 
(
	[personId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Person_ssn]    Script Date: 4/16/2021 12:59:06 PM ******/
ALTER TABLE [dbo].[Person] ADD  CONSTRAINT [UK_Person_ssn] UNIQUE NONCLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment] ADD  CONSTRAINT [DF_Appointment_endDateTime]  DEFAULT ('2020-12-12 00:00:00.000') FOR [endDateTime]
GO
ALTER TABLE [dbo].[Diagnosis] ADD  CONSTRAINT [DF_Diagnosis_isFinal]  DEFAULT ((0)) FOR [isFinal]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Person] FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([personId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Person]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor] ([doctorId])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([patientId])
REFERENCES [dbo].[Patient] ([patientId])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [dbo].[ConductedLabTest]  WITH CHECK ADD  CONSTRAINT [FK_ConductedLabTest_Appointment] FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointment] ([appointmentId])
GO
ALTER TABLE [dbo].[ConductedLabTest] CHECK CONSTRAINT [FK_ConductedLabTest_Appointment]
GO
ALTER TABLE [dbo].[Credential]  WITH CHECK ADD  CONSTRAINT [FK_Credential_Person] FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([personId])
GO
ALTER TABLE [dbo].[Credential] CHECK CONSTRAINT [FK_Credential_Person]
GO
ALTER TABLE [dbo].[Credential]  WITH CHECK ADD  CONSTRAINT [FK_Credential_Role] FOREIGN KEY([role])
REFERENCES [dbo].[Role] ([roleName])
GO
ALTER TABLE [dbo].[Credential] CHECK CONSTRAINT [FK_Credential_Role]
GO
ALTER TABLE [dbo].[Diagnosis]  WITH CHECK ADD  CONSTRAINT [FK_Diagnosis_Appointment] FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointment] ([appointmentId])
GO
ALTER TABLE [dbo].[Diagnosis] CHECK CONSTRAINT [FK_Diagnosis_Appointment]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Person] FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([personId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Person]
GO
ALTER TABLE [dbo].[DoctorSpecialty]  WITH CHECK ADD  CONSTRAINT [FK_DoctorSpecialty_Specialty] FOREIGN KEY([specialtyName])
REFERENCES [dbo].[Specialty] ([name])
GO
ALTER TABLE [dbo].[DoctorSpecialty] CHECK CONSTRAINT [FK_DoctorSpecialty_Specialty]
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD  CONSTRAINT [FK_Nurse_Person] FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([personId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nurse] CHECK CONSTRAINT [FK_Nurse_Person]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Person] FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([personId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Person]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Appointment] FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointment] ([appointmentId])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_Appointment]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Nurse] FOREIGN KEY([nurseId])
REFERENCES [dbo].[Nurse] ([nurseId])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_Nurse]
GO
USE [master]
GO
